@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,500;0,600;1,100;1,300&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
    color: black;
}

$blue: rgb(0, 0, 77);
$gold: rgb(242, 206, 0);
$black: #10221b;
$white: #fff;
$green: rgb(0, 100, 0);
$light-bg: #eee;
$red: rgb(151, 30, 30);
$border: .2rem solid $black;
$box-shadow: 0 .5rem 1rem regb(0,0,0,.1);

@mixin grid($val){

    display: grid;
    $grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap:1.5rem;

}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;

    &::-webkit-scrollbar{
        width:1rem;
    }

    &::-webkit-scrollbar-track{

        background: $white;

    }

    &::-webkit-scrollbar-thumb{

        background: $black;

    }
}

section {

    padding: 5rem 9%;

}

.heading {

    text-align: center;
    margin-bottom: 2.5rem;
    font-size: 4rem;
    color: $black;
}

.header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: center;
    width: 100%;
    padding: 2rem 9%;
    z-index: 1000;
    align-items: center;
    background-color: $white;

    .activeScroll {
        background: $white;
        box-shadow: $box-shadow;
    }

    .logo {

        margin-right: auto;
        font-size: 2rem;
        color: $black;
        font-weight: bolder;
    
        i {
    
            padding-right: 10px;
            color: orange;
    
        }
    
    }
    
    .nav-bar a {
    
        padding: 0 20px;
        font-size: 1.5rem;
        color: $black;
    
        &:hover {
    
            color: $gold;
    
        }
    
    }

    #nav-close {

        font-size: 5rem;
        cursor: pointer;
        color: $black;
        display: none;

    }

    .icons a,
    .icons div {

        font-size: 1.5rem;
        margin-left: 2rem;
        cursor: pointer;
        color: $black;

        &:hover {
            color: $gold;
        }

    }

    #menu-button {

        display: none;

    }
    
}


.search-form{

    position: fixed;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    transform: translateY(-110%);

    &.active{

        transform: translateY(0%);

    }

    #close-search{

        position: absolute;
        top: 2rem; right: 2.5rem;
        cursor: pointer;
        color: $white;
        font-size: 6rem;

        &:hover {

            color: $gold;

        }

    }

    form{

        width: 70rem;
        margin: 0 2rem;
        padding-bottom: 2rem;
        border-bottom: .2rem solid $white;
        display: flex;
        align-items: center;

        input {

            width: 100%;
            font-size: 2rem;
            color: $white;
            text-transform: none;
            background: none;
            padding-right: 2rem;

            &::placeholder{
                color: #aaa;
            }
        
        }

        label{

            font-size:3rem;
            cursor: pointer;
            color: $white;

            &:hover{

                color: gold;

            }

        }

    }

}

.home{

    padding: 0;

    .box{

        min-height: 100vh;
        display: flex;
        align-items: center;
        background-size: cover !important;
        background-position: center !important;
        justify-content: flex-start;
        padding: 2rem 9%;

        &.second {

            justify-content: flex-end;
            
            p{

                color: $white !important;

            }

            .btn {

                border: .2rem solid $white !important;
                color:$white !important;

            }

        }

        .content {

            width: 50rem;
            
            span {

                font-size: 4.5rem;
                color: gold;

            }

            h3 {

                font-size: 6rem;
                color: $red;
                padding-top: .5rem;
                text-transform: uppercase;

            }

            p {

                line-height: 2;
                color: $black;
                font-size: 1.8rem;
                padding: 1rem 0;
                font-weight:900;

            }

            .btn {

                margin-top: 1rem;
                display: inline-block;
                border: $border;
                color: $black;
                cursor: pointer;
                background: none;
                font-size: 1.7rem;
                padding: 1rem 4rem;
            
                &:hover {
            
                    background: $red;
                    color: $white !important;
            
                }
            
            }


        }

    }

}

.swiper-button-next::after,
.swiper-button-prev::after{

    font-size: 3rem;
    color: $black;

}

.category {

    .box-container {

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
        gap: 1.5rem;

        .box{

            text-align: center;
            padding: 2rem;

            img {

                height: 20rem;
                width: 20rem;
                border-radius: 50%;
                margin-bottom: 1rem;

            }

            h3 {

               font-size: 2rem;
               color: $blue; 

            }

            p{

                font-size: 1.4rem;
                color: $black;
                padding: 1rem 0;
                line-height: 2;

            }

            button {

                margin-top: 1rem;
                display: inline-block;
                border: $border;
                color: $black;
                cursor: pointer;
                background: none;
                font-size: 1.4rem;
                padding: 1rem 3rem;
            
                &:hover {
            
                    background: $red;
                    color: $white;
            
                }
            
            }


        }

    }

}

.about {

    background: $light-bg;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;


    .image{

        flex: 1 1 42rem;
        padding-right: 5rem;
        padding-left: 5rem;

        img {
            width: 100%;
            box-shadow: 4rem 4rem rgba(0, 0, 0, .1) ;

        }

    }
}

.about-content {

    flex: 1 1 42rem;

    h3 {

        font-size: 3rem;
        color: $blue;

    }

    p{

        font-size: 1.5rem;
        color: $black;
        padding: 1rem 0;
        line-height: 2;

    }

    button {

        margin-top: 1rem;
        display: inline-block;
        border: $border;
        color: $black;
        cursor: pointer;
        background: none;
        font-size: 1.4rem;
        padding: 1rem 3rem;
    
        &:hover {
    
            background: $red;
            color: $white !important;
    
        }
    
    }

}


.shop {

    .slide{

        width: 35rem;
        border: $border;

        .image {

            position: relative;
            overflow: hidden;
            height: 30rem;
            width: 100%;

            img {

                padding: 3rem;
                height: 100%;
                width: 100%;
                object-fit: cover;

            }

        }

        // .hidden-icons{

        //     display: none;

        // }

        // .icons {

        //     width: 100%;
        //     text-align: center;
        //     z-index: 10;

        // }
        
        /* Initially hide the icons with opacity 0 and transform off the screen */
        .hidden-icons {
            opacity: 0;
            transform: translateY(-100%);
            transition: opacity 0.3s ease, transform 0.3s ease;
            width: 100%;
            text-align: center;
            z-index: 10;
            
        }
        
        /* Show the icons when the parent container is hovered */
        .image-container:hover .hidden-icons {
            opacity: 1;
            transform: translateY(0);
            width: 100%;
            text-align: center;
            z-index: 10;

        }

        a{

            height: 4.5rem;
            width: 4.5rem;
            line-height: 4.5rem;
            font-size: 1.7rem;
            color: $black;
            background-color: $light-bg;
            margin: 0 0.2rem;
            border: $border;

            &:hover{

                background-color: $blue;
                color: $white;

            }
        }

        .content{

            padding: 1rem 0;
            text-align: center;

            h3{

                font-size: 2rem;
                color: $black;

            }

            .price {

                padding: 1rem 0;
                padding-top: .5rem;
                font-size: 2.5rem;
                color: $red;

            }

            .stars i {

                font-size: 1.7rem;
                color: $black;

            }

        }

    }

}

.packages {

    background: $light-bg;

    .box-container {

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
        gap: 1.5rem;

        .box {

            text-align: center;
            background: $white;
            border: $border;
            box-shadow: $box-shadow;
            border-radius: .5rem;

            &:hover {

                background: $blue;
                
                .content > *{

                    color: $white;
                    
                }

                .btn {
                    
                    border:  .2rem solid $white;
                    
                }
            }

            .image {

                height: 25rem;
                overflow: hidden;
                padding: 2rem;
                padding-bottom: 0;
                border-radius: .5rem;

                img {

                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: .5rem;
                    
                }

            }

            .content {

                padding: 2rem;

                h3 {

                    font-size: 2.5rem;
                    color: $black;

                }

                p{

                    font-size: 1.5rem;
                    color:$black;
                    padding: 1rem 0;
                    line-height: 2;

                }

                .price {

                    font-size: 2rem;
                    color: $red;

                }

            }

            .btn {

                margin-top: 1rem;
                display: inline-block;
                border: $border;
                color: $black;
                cursor: pointer;
                background: none;
                font-size: 1.7rem;
                padding: 1rem 4rem;
            
                &:hover {
            
                    background: $gold;
                    color: $white !important;
            
                }
            
            }

        }

    }

}

.services {

    background: $light-bg;

    .box-container {

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
        gap: 1.5rem;

        .box {

            text-align: center;
            padding: 2rem;
            border: $border;
            border-radius: .5rem;
            background: $white;

            &:hover {

                background: $red;

                img{

                    filter: invert(1);

                }

                h3 {

                    color: $gold;

                }

                p {

                    color: $white;

                }

                .btn {

                    border-color: $white;
                    color: $white;

                    &:hover {

                        background: $blue;

                    }

                }

            }

            img {

                height: 10rem;
                margin-bottom: 1rem;

            }

            h3 {

                font-size: 2rem;
                color: $blue;

            }

            p {

                font-size: 1.5rem;
                color: $black;
                padding: 1rem 0;
                line-height: 2;

            }

            .btn {

                margin-top: 1rem;
                display: inline-block;
                border: $border;
                color: $black;
                cursor: pointer;
                background: none;
                font-size: 1.7rem;
                padding: 1rem 4rem;
            
                &:hover {
            
                    background: $red;
                    color: $white !important;
            
                }
            
            }

        }

    }

}

 





















//media queries

@media (max-width: 1440px){

    section{

        padding: 3rem 2rem;

    }


}

@media (max-width: 1061px){

    html{

        font-size: 55%;
        scroll-padding-top: 7rem;

    }

}

@media (max-width: 954px){


    .header {

        .icons {

            right: 2rem;

        }

        #menu-button {

            display: inline-block;
    
        }
        
    }

    .nav-bar{

        position: fixed;
        top: 0;
        left: -110%;
        background: $white;
        z-index: 1000;
        width: 35rem;
        height: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;

        #nav-close {
 
            display: block;
            position: absolute;
            top: 1rem; right: 2rem;
            color: $black !important;  
            
        }

        a {
            margin: 1rem 0;
            font-size: 3rem;
            color: $black !important;

            &:hover{

                color: $gold !important;

            }
        }

    }    

    .active {

        left: 0;
        box-shadow: 0 0 0 100vw rgba(0, 0, 0, .8);

    }

    .home .box {
        padding: 2rem;
        justify-content: center;
        background-position: left !important;

        &.second {

            justify-content: center;
            background-position: center !important;

        }

        .content {

            text-align: center;

            span {

                font-size: 3rem;

            }

            h3{

                font-size: 4rem;

            }

        }

    }

}

@media (max-width: 700px){

    .swiper-button-next::after,
    .swiper-button-prev::after{

        display: none;

    }

    .logo{

        font-size: 1.5rem !important;

    }

    .heading {

        font-size: 3rem;

    }

}